{
    "APP_ENV": "local",
    "PORT": 8100,
    "APP_NAME":"Admin",
    "API_SERVER": "http://localhost:3100",
    "HOST": "/",
    "DATE_FORMAT": {
        "DATE": "DD-MMM-YYYY",
        "TIME": "hh:mm A",
        "DATETIME": "MMM Do YYYY hh:mm A",
        "MONTH": "MMM-YY"
    }
}